<style>
    @media (max-width: 768px) {
        .table th, .table td {
            font-size: 0.9rem;
            padding: 0.5rem;
        }
        .card {
            margin-top: 20px;
        }
        .section-conten {
            padding: 10px;
        }
    }
    </style>

<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %} active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %} active{% endif %}" href="{% url 'my_orders' %}"> Meine Bestellungen </a>
        <a class="list-group-item {% if '/change_password/' in request.path %} active{% endif %}" href="{% url 'change_password' %}"> Kennwort ändern </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Abmelden</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>