<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-10 text-md-left">
				<p class="text-muted">Gemel Handels GmbH<br>Beusselstr. 44 n-q<br>10553 Berlin<br></p>
				<!-- <p class="text-muted">Telefon<br>+49 30 3967025 <br>+49 30 3965855</p>
				<p class="text-muted">Fax<br>+49 30 39879391</p>
				<p class="text-muted">E-Mail: <a href="mailto:gemex_gmbh@gmx.de">gemex_gmbh@gmx.de</a></p>
				<p class="text-muted">Web: <a href="https://www.gemex-berlin.de/">www.gemex-berlin.de</a></p> -->
 
			</div>
			<div class="col-md-2 text-md-right">
				<p class="text-muted"> Copyright &copy 2024 Gemex Handels GmbH </p>
			</div>
			
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->