{% load static %}

    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'store' %}" class="brand-wrap">
                        <img class="logo" src="{% static './images/gemex_logo.png' %}">
                    </a>
                </div>
    
                <!-- Empty column for spacing -->
                <div class="col-lg col-md-3 d-none d-lg-block">
                    <!-- Boşluk -->
                </div>
    
                <!-- Shop Button -->
                <div class="col-lg-3 col-md-6 col-6 text-center">
                    <a href="{% url 'store' %}" class="btn btn-primary px-5 py-2">Shop</a>
                </div>
    
                <!-- Search Form -->
                <div class="col-lg col-md-12 col-sm-12 col order-2 order-lg-0 mt-3 mt-lg-0">
                    <form action="{% url 'search' %}" class="search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
    
                <!-- User & Cart Icons -->
                <div class="col-lg-3 col-sm-6 col-8 order-3 order-lg-2 text-right d-flex align-items-center justify-content-lg-end">
                    <div class="user-info mr-3">
                        {% if user.id is None %}
                        <small class="text-muted">Willkommen, Gast!</small>
                        <div>
                            <a href="{% url 'login' %}" style="font-size: 0.9em;">Anmelden</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'register' %}" style="font-size: 0.9em;">Registrieren</a>
                        </div>
                        {% else %}
                        <small class="text-muted">Willkommen, {{user.first_name}}!</small>
                        <div>
                            <a href="{% url 'dashboard' %}" style="font-size: 0.9em;">Dashboard</a> <span class="dark-transp"> | </span>
                            <a href="{% url 'logout' %}" style="font-size: 0.9em;">Abmelden</a>
                        </div>
                        {% endif %}
                    </div>
    
                    <!-- Cart Icon -->
                    <a href="{% url 'cart' %}" class="widget-header ml-3">
                        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                        <span class="badge badge-pill badge-danger notify" id="cart-count">{{ cart_count }}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    


    