{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Custom styles to remove number input arrows and adjust input width -->
<style>
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Adjust input width based on content */
.update-quantity {
    width: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
        <h2 class="title-page">Suchergebnisse</h2>
        {% else %}
        <h2 class="title-page">Unser Shop</h2>
        {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
{% include 'includes/alerts.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row mt-12">
            <div class="col-md-12 text-center">
                <a href="{% url 'cart' %}" class="btn btn-primary btn-lg" id="go-to-cart">Warenkorb Anzeigen</a>
            </div>
        </div>
    <div class="row">
        <main class="col-md-12">
            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <span class="mr-md-auto"><b> {{ product_count }} Artikel </b> </span>
                </div>
            </header><!-- sect-heading -->
            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> 
                            <a><img src="{{ product.images.url }}"></a>
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap text-center mt-2">
                            <div class="fix-height">
                                <a class="title">{{ product.product_name }}</a>
                                <div class="price-wrap mt-2">
                                    
                            </div>
                            <div class="row">
                                {% if product.id in cart_item_product_ids %}
                                    {% for cart_item in cart_items %}
                                        {% if cart_item.product.id == product.id %}
                                        <div class="col text-center">
                                            <div class="input-group input-spinner justify-content-center">
                                                <div class="input-group-prepend">
                                                    <a href="#" class="btn btn-light quantity-btn btn-minus" type="button" data-product-id="{{ product.id }}" data-cart-item-id="{{ cart_item.id }}"> <i class="fa fa-minus"></i> </a>
                                                </div>
                                                <input id="product_{{ product.id }}" type="number" class="form-control text-center update-quantity" style="max-width: 60px;" value="{{ cart_item.quantity }}" data-url="{% url 'update_quantity_api' product.id cart_item.id %}">
                                                <div class="input-group-append">
                                                    <a href="#" class="btn btn-light quantity-btn btn-plus" type="button" data-product-id="{{ product.id }}" data-cart-item-id="{{ cart_item.id }}"> <i class="fa fa-plus"></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-block add-to-cart-btn" data-product-id="{{ product.id }}">In den Warenkorb</a>
                                </div> <!-- col.// -->
                                {% endif %}
                            </div> <!-- row.// -->
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row end.// -->
            <!-- Add this new section -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <a href="{% url 'cart' %}" class="btn btn-primary btn-lg" id="go-to-cart">Warenkorb Anzeigen</a>
                </div>
            </div>
            <!-- End of new section -->
            <nav class="mt-4" aria-label="Page navigation sample">
                {% if products.has_other_pages %}
                  <ul class="pagination">
                        {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Zurück</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Zurück</a></li>
                        {% endif %}
            
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                    {% endfor %}
            
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Weiter</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                  </ul>
                {% endif %}
            </nav>
        </main> <!-- col.// -->
    </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function updateCartCount(cartCount) {
        $('#cart-count').text(cartCount);
    }

    function showNotification(message) {
        alert(message);
    }

    function updateQuantity(url, quantity, productId) {
        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                quantity: quantity
            },
            success: function(response) {
                $('#product_' + response.product_id).val(response.quantity);
                console.log('Quantity updated successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error updating quantity manually:', status, error);
                alert("Miktar güncellenirken bir hata oluştu.");
            }
        });
    }

    function handleAddToCartButtonClick(e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        var $button = $(this);
        $.ajax({
            url: '/api/cart/add/' + productId + '/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            dataType: 'json',
            success: function(response) {
                updateCartCount(response.cart_count);
                var quantity = response.product_quantity;
                var cartItemId = response.cart_item_id;
                
                $button.replaceWith(`
                    <div class="col text-center">
                        <div class="input-group input-spinner justify-content-center">
                            <div class="input-group-prepend">
                                <a href="#" class="btn btn-light quantity-btn btn-minus" type="button" data-product-id="${productId}" data-cart-item-id="${cartItemId}"> <i class="fa fa-minus"></i> </a>
                            </div>
                            <input id="product_${productId}" type="number" class="form-control text-center update-quantity" style="max-width: 60px;" value="${quantity}" data-url="/api/cart/update_quantity/${productId}/${cartItemId}/">
                            <div class="input-group-append">
                                <a href="#" class="btn btn-light quantity-btn btn-plus" type="button" data-product-id="${productId}" data-cart-item-id="${cartItemId}"> <i class="fa fa-plus"></i> </a>
                            </div>
                        </div>
                    </div>
                `);
            },
            error: function(xhr, status, error) {
                console.error('Error adding to cart:', status, error);
            }
        });
    }

    $(document).on('click', '.add-to-cart-btn', handleAddToCartButtonClick);

    // Handle quantity update on manual input or blur event
    $(document).on('blur', '.update-quantity', function(e) {
        var url = $(this).data('url');
        var quantity = $(this).val();

        // Miktarın geçerli bir sayı olup olmadığını kontrol edin
        if (quantity === '' || isNaN(quantity) || parseInt(quantity) <= 0) {
            alert("Lütfen geçerli bir miktar girin.");
            $(this).val(1);  // Geçersizse varsayılan olarak 1 atayın
            return;
        }

        quantity = parseInt(quantity);

        // Geçerli bir sayı olduğunda güncelle
        updateQuantity(url, quantity, $(this).attr('id'));
    });

    $(document).on('input', '.update-quantity', function(e) {
        var quantity = $(this).val();

        // Kullanıcı sayıyı sildiğinde veya geçici olarak NaN olduğunda işlem yapmayın
        if (quantity === '' || isNaN(quantity) || parseInt(quantity) <= 0) {
            return;
        }

        // Geçerli bir sayı olduğunda bunu varsayılan olarak kabul et
        quantity = parseInt(quantity);
        $(this).val(quantity);
    });

    $(document).on('click', '.quantity-btn', function(e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        var cartItemId = $(this).data('cart-item-id');
        var $button = $(this);
        var inputField = $button.closest('.input-spinner').find('.update-quantity');
        var currentQuantity = parseInt(inputField.val());

        if ($button.hasClass('btn-minus')) {
            if (currentQuantity > 1) {
                currentQuantity = currentQuantity - 1;
            } else {
                $.ajax({
                    url: `/api/cart/remove_item/${productId}/${cartItemId}/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function(response) {
                        updateCartCount(response.cart_count);
                        $button.closest('.input-group').replaceWith(`
                            <div class="">
                                <a href="#" class="btn btn-primary btn-block add-to-cart-btn" data-product-id="${productId}">In den Warenkorb</a>
                            </div>
                        `);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error removing item:', status, error);
                    }
                });
                return;
            }
        } else if ($button.hasClass('btn-plus')) {
            currentQuantity = currentQuantity + 1;
        }

        inputField.val(currentQuantity);

        updateQuantity(`/api/cart/update_quantity/${productId}/${cartItemId}/`, currentQuantity, inputField.attr('id'));
    });
});



</script>

{% endblock %}
