{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* Input spinner stili */
    .input-spinner .form-control {
        max-width: 50px !important;  /* Sabit genişlik */
        padding: 0 2px;  /* Yanlardaki boşluğu azalt */
        text-align: center;
        font-size: 14px;
    }

    /* Miktar giriş kutusunun responsive tasarımı */
    @media (max-width: 768px) {
        .input-spinner .form-control {
            max-width: 45px !important;
        }
    }
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
        <h2 class="title-page">Suchergebnisse</h2>
        {% else %}
        <h2 class="title-page">Unser Shop</h2>
        {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
{% include 'includes/alerts.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row mt-12">
            <div class="col-md-12 text-center">
                <a href="{% url 'cart' %}" class="btn btn-primary btn-lg">Warenkorb Anzeigen</a>
            </div>
        </div>
    <div class="row">
        <!-- <aside class="col-md-3">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Categories</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">
                            <ul class="list-menu">
                                <li><a href="{% url 'store' %}">All Products</a></li>
                                {% for category in links %}
                                    <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </aside> -->
        <main class="col-md-12">
            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <span class="mr-md-auto"><b> {{ product_count }} Artikel </b> </span>
                </div>
            </header><!-- sect-heading -->
            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            <a><img src="{{ product.images.url }}"></a>
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap text-center mt-2">
                            <div class="fix-height">
                                <a class="title">{{ product.product_name }}</a>
                                <div class="price-wrap mt-2">

                            </div>
                            <div class="row">
                                {% if product.id in cart_item_product_ids %}
                                    {% for cart_item in cart_items %}
                                        {% if cart_item.product.id == product.id %}
                                        <div class="col text-center">
                                            <div class="input-group input-spinner justify-content-center">
                                                <div class="input-group-prepend">
                                                    <a href="#" class="btn btn-light quantity-btn btn-minus" type="button" data-product-id="{{ product.id }}" data-cart-item-id="{{ cart_item.id }}"> <i class="fa fa-minus"></i> </a>
                                                </div>
                                                <input id="product_{{ product.id }}" type="text" class="form-control text-center" style="max-width: 50px;" value="{{ cart_item.quantity }}">
                                                <div class="input-group-append">
                                                    <a href="#" class="btn btn-light quantity-btn btn-plus" type="button" data-product-id="{{ product.id }}"> <i class="fa fa-plus"></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                <div class="col">
                                    <a href="#" class="btn btn-primary btn-block add-to-cart-btn" data-product-id="{{ product.id }}">In den Warenkorb</a>
                                </div> <!-- col.// -->
                                {% endif %}
                            </div> <!-- row.// -->
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row end.// -->
            <!-- Add this new section -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <a href="{% url 'cart' %}" class="btn btn-primary btn-lg">Warenkorb Anzeigen</a>
                </div>
            </div>
            <!-- End of new section -->
            <nav class="mt-4" aria-label="Page navigation sample">
                {% if products.has_other_pages %}
                  <ul class="pagination">
                        {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Zurück</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Zurück</a></li>
                        {% endif %}

                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                    {% endfor %}

                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Weiter</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                  </ul>
                {% endif %}
            </nav>
        </main> <!-- col.// -->
    </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function updateCartCount(cartCount) {
        $('#cart-count').text(cartCount);
    }

    function showNotification(message) {
        alert(message);
    }

    function handleAddToCartButtonClick(e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        var $button = $(this);
        
        $.ajax({
            url: '/api/cart/add/' + productId + '/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            dataType: 'json',
            success: function(response) {
                updateCartCount(response.cart_count);
                var quantity = response.product_quantity;
                var inputField = $button.closest('.row').find('input[type="text"]');
                if (inputField.length) {
                    inputField.val(quantity);
                } else {
                    $button.replaceWith(`
                        <div class="row">
                            <div class="col text-center">
                                <div class="input-group input-spinner justify-content-center">
                                    <div class="input-group-prepend">
                                        <a href="#" class="btn btn-light quantity-btn minus-btn" type="button" data-product-id="${productId}" data-cart-item-id="${response.cart_item_id}"> <i class="fa fa-minus"></i> </a>
                                    </div>
                                    <input id="product_${productId}" type="text" class="form-control text-center update-quantity" style="max-width: 50px;" value="${quantity}">
                                    <div class="input-group-append">
                                        <a href="#" class="btn btn-light quantity-btn plus-btn" type="button" data-product-id="${productId}"> <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error adding to cart: ', status, error);
            }
        });
    }

    // Manuel quantity input değişikliği için yeni handler
    $(document).on('change', '.update-quantity', function(e) {
        e.preventDefault();
        var productId = $(this).closest('.input-spinner').find('.quantity-btn').data('product-id');
        var cartItemId = $(this).closest('.input-spinner').find('.quantity-btn').data('cart-item-id');
        var quantity = $(this).val();

        // Quantity değerini validate et
        quantity = parseInt(quantity);
        if (isNaN(quantity) || quantity <= 0) {
            showNotification("Bitte geben Sie eine gültige Menge ein.");
            return;
        }

        $.ajax({
            url: `/api/cart/update_quantity/${productId}/${cartItemId}/`,
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                quantity: quantity
            },
            success: function(response) {
                if (response.error) {
                    showNotification(response.error);
                } else {
                    updateCartCount(response.cart_count);
                    if (response.quantity > 0) {
                        $(`#product_${productId}`).val(response.quantity);
                    } else {
                        // Eğer miktar 0'sa, butonu geri getir
                        $('.input-spinner').closest('.row').replaceWith(`
                            <div class="">
                                <a href="#" class="btn btn-primary btn-block add-to-cart-btn" data-product-id="${productId}">In den Warenkorb</a>
                            </div>
                        `);
                    }
                }
            },
            error: function(xhr, status, error) {
                console.error('Error: ', status, error);
                showNotification('An error occurred: ' + error);
            }
        });
    });

    $(document).on('click', '.add-to-cart-btn', handleAddToCartButtonClick);

    $(document).on('click', '.quantity-btn', function(e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        var cartItemId = $(this).data('cart-item-id');
        var $button = $(this);
        
        $.ajax({
            url: cartItemId ? `/api/cart/remove/${productId}/${cartItemId}/` : `/api/cart/add/${productId}/`,
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            dataType: 'json',
            success: function(response) {
                updateCartCount(response.cart_count);
                var quantity = response.product_quantity;
                var inputField = $button.closest('.input-spinner').find('input[type="text"]');
                if (quantity > 0) {
                    inputField.val(quantity);
                } else {
                    $button.closest('.input-group').replaceWith(`
                        <div class="">
                            <a href="#" class="btn btn-primary btn-block add-to-cart-btn" data-product-id="${productId}">In den Warenkorb</a>
                        </div>
                    `);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error updating quantity: ', status, error);
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    showNotification(xhr.responseJSON.error);
                }
            }
        });
    });
});
</script>

{% endblock %}